/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin: 0;
    padding: 0;
    weight: 100%;
    text-align: center;
}

.search,
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container form {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container .input__label {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.container input {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.search form {
    display: flex;
    flex-direction: row;
    min-width: 50%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search__imput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    text-align: center;
    padding: 8px;
}

.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.container__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 50%;
}
